{% extends 'appblog/base.html' %}
{% load static %}

        {% block header %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ blog.portada.url }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ post.titulo}}</h1>
                            <h2 class="subheading">{{ post.descripcion }}</h2>
                            <span class="meta">
                                Publicado por
                                <a href="#!">Autor</a>
                                el {{ post.fecha }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock header %}

        {% block content %}
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{ post.texto|safe }}</p>
                        {% if post.imagen %}
                            <img class="img-fluid" src="{{ post.imagen.url }}" alt="..." />
                        {% endif %}
                        <p>Link: <a href="{{ post.link }}">{{ post.link }}</a></p>
                    </div>
                </div>
            </div>
            
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3>Comentarios:</h3>
                        {% for comment in comments %}
                            <p>{{ comment.texto }}</p>
                            <hr/>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>
        
        <!-- La url tiene que tener el id post -->
        <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase m-1" href="{% url 'createComment' post.id %}">Crear un Comentario</a></div>
        
        {% endblock content %}
        